.range {
text-align: center;
padding: 80px 60px;
}


.range h2 {
font-size: 32px;
font-weight: 700;
margin-bottom: 10px;
}


.range p {
color: #777;
margin-bottom: 50px;
}


.range-cards {
display: flex;
justify-content: center;
gap: 30px;
}
.card {
width: 350px;
}


.card img {
width: 100%;
height: 420px;
object-fit: cover;
border-radius: 12px;
}


.card h3 {
margin-top: 20px;
font-size: 22px;
font-weight: 600;
}