.products {
padding: 80px 60px;
text-align: center;
}


.products h2 {
font-size: 32px;
margin-bottom: 40px;
}


.products-grid {
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 30px;
}


.product-card {
background: #f4f5f7;
}


.image-box {
position: relative;
}


.image-box img {
width: 100%;
height: 300px;
object-fit: cover;
}

.badge {
position: absolute;
top: 15px;
right: 15px;
padding: 6px 10px;
border-radius: 50%;
font-size: 12px;
color: white;
}


.red { background: #e97171; }
.green { background: #2ec1ac; }


.overlay {
position: absolute;
inset: 0;
background: rgba(0,0,0,0.6);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: white;
opacity: 0;
pointer-events: none;
transition: opacity 0.3s ease;
}


.product-card:hover .overlay {
opacity: 1;
pointer-events: auto;
}


.overlay button {
background: white;
color: #b88e2f;
padding: 10px 25px;
border: none;
margin-bottom: 15px;
}


.info {
padding: 15px;
text-align: left;
}


.info p { color: #777; }


.price {
display: flex;
gap: 10px;
}


.price small {
text-decoration: line-through;
color: #aaa;
}


.show-more {
margin-top: 40px;
padding: 12px 30px;
border: 1px solid #b88e2f;
background: none;
color: #b88e2f;
}
