.shop-hero {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  background-color: #f9f9f9;
  background-image: url('../assets/shophero.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


.shop-hero-content {
  text-align: center;
  color: #333;
}

.shop-hero-content h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.shop-hero-content .breadcrumb {
  font-size: 16px;
  color: #666;
}

.shop-hero-content a {
  color: #666;
  text-decoration: none;
}

.shop-hero-content a:hover {
  color: #B8830B;
}
