* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, sans-serif;
}

/* NAVBAR */
/* LOGO */
.logo-box {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-box img {
  width: 32px;
  height: auto;
}

.logo-box span {
  font-size: 24px;
  font-weight: 700;
}

/* ICONS */
.icons {
  display: flex;
  gap: 22px;
  font-size: 18px;
  cursor: pointer;
}



.navbar {
  height: 80px;
  padding: 0 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 40px;
}

.nav-links li {
  font-size: 16px;
  cursor: pointer;
}

.icons span {
  margin-left: 20px;
  cursor: pointer;
}

/* HERO */
.hero {
  height: calc(100vh - 80px);
  background-image: url("/hero.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-box {
  position: absolute;
  right: 80px;
  top: 50%;
  transform: translateY(-50%);
  background: #fff3e3; 
  padding: 40px;
  width: 420px;
}

.small {
  letter-spacing: 3px;
  font-size: 14px;
}

.hero-box h1 {
  font-size: 40px;
  color: #b88e2f; 
  margin: 20px 0;
}

.hero-text {
  font-size: 14px;
  color: #333;
  margin-bottom: 30px;
}

.hero-box button {
  background: #b88e2f;
  color: #fff;
  border: none;
  padding: 14px 36px;
  cursor: pointer;
}

.hero {
  height: 100vh; 
  background-image: url("/hero.jpg.png"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

